{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SWEN</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">SWEN</a>
    </div>

    <div class="navbar-menu">
      {% if request.user.is_authenticated %}
        <div class="navbar-start">
          <a href="{% url 'categories' %}" class="navbar-item">Categories</a>
        </div>
      {% endif %}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if request.user.is_authenticated %}
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button is-danger">Log Out</button>
              </form>
            {% else %}
              <a href="{% url 'signup' %}" class="button is-primary"><strong>Sign Up</strong></a>
              <a href="{% url 'login' %}" class="button is-light">Log In</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    {% block content %}
    {% endblock content %}
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p><strong>Swen</strong> by Munyoki</p>
    </div>

  </footer>
</body>

</html>